#intro
  .wrapper
    .topbar.clearfix
      .logo
        Геодетика
      .phone
        (495) 800 40 40
        .small ежедневно с 9:00 до 21:00

    .content
      .descriptor
        GPS геодезический приемник
        %br
        South S82-2013

      %ul.bullets
        %li
          %img{src: '/images/icon-accuracy.png'}
          Точность определения координат
          %br
          до 2см с технологией RTK

        %li
          %img{src: '/images/icon-clock.png'}
          Скорость получения решения
          %br
          до 10 секунд

        %li
          %img{src: '/images/icon-distance.png', width: 22}
          Максимальная удаленность
          %br
            от базовой станции - 70км



.form-block
  .wrapper
    .offer
      Возьмите приемник на тест-драйв до 15 августа.
      %br
      14 дней - бесплатно. 100% гарантия возврата денег без лишних вопросов!

    .suboffer
      Оставьте ваше контактные данные в форме ниже,
      %br
      чтобы с вами связался наш менеджер и рассказал про условия тест-драйва

    %form.clearfix
      %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :name, placeholder: 'Введите ваш телефон'}
      %button Оставить заявку


%section
  .wrapper
    .title Преимущества работы с компанией Геодетика

    .triggers.clearfix
      .trigger
        %img{src: '/images/icon-percent.png', width: 84}
        Вы можете приобрести приемник
        по беззпроцентной рассрочке
        на срок до 6 месяцев
      .trigger
        %img{src: '/images/icon-antena.png', width: 71}
        Приобретая South S82-2013, вы
        получаете бесплатный доступ к сети
        базовых приемников, покрывающих
        всю Московскую область
      .trigger
        %img{src: '/images/icon-light.png', width: 67}
        Мы проводим бесплатные занятия
        по обучению работе с приемником



%section
  .wrapper
    .title Особенности модели South S82-2013

    .features.clearfix
      .feature
        .name Встроенный УКВ-модем 0.5В
        Встроенный приемо-передающий УКВ модуль и GSM/GPRS модем, обеспечивает уверенную работу системы на прием и передачу поправок без внешнего радиомодема

      .feature
        .name 220 канальная плата Trimble BD970
        Благодаря этому приемник поддерживает широкий спектр спутниковых сигналов: GPS NAVSTAR, включая L2C и L5, ГЛОНАСС, Galileo, COMPASS и различные SBAS

      .feature
        .name Встроенный GPRS / GSM модуль
        Работайте с сетями и отдельными базовыми станциями через GPRS или GSM (CSD) на расстояниях до 70 километров

      .feature
        .name Класс защиты IP67
        Исполнение по классу защиты IP67 обеспечивает сохранение работоспособности приемника даже при длительном погружении в воду приемника на глубину до 1 м и после падения с высоты 2 м на бетонный пол

      .feature
        .name 4Гб встроенной памяти
        Благодаря 4 Гб встроенной памяти и возможность использования съемной Micro-SD карты на 4 Гб  вы можете быть спокойны за сохранность запиcанной информации

      .feature
        .name Процессор ARM Cortex-M4
        Высокоэффективный процессор компании ARM, выполненный на архитектуре ARMv7-ME и предназначенный для оперативной цифровой обработки сигналов

%section.yellow
  .wrapper
    .title Важно знать!

    .content
      %p
        Приемники S82 абсолютно взаимозаменяемые, могут быть как Базой, так и Ровером, установлены на трегер или на веху, которые поставляются в комплекте.

      %p
        Благодаря наличию двух батарей, вы можете работать до 16 часов в статике, 12 часов в RTK GPRS, 8 часов в RTK УКВ.

      %p
        Также возможно подключение внешнего питания (9-15В)


%section
  .wrapper
    .title
      Комплекты и цены


    .complects.clearfix
      .complect
        .name Сетевой роутер
        .price 300 000₽
        .about
          Приемник South S82-2013 и
          контроллер South MasterPro
          Mobile S10* с ПО SurvCE

        .button
          Комплектация


      .complect
        .name «База + Ровер GSM»
        .price 495 000₽
        .about
          Приемник South S82-2013 GSM база + ровер и контроллер South MasterPro Mobile S10* с ПО SurvCE

        .button
          Комплектация

      .complect
        .name «База + Ровер GSM/УКВ»
        .price 575 000₽
        .about
          Приемник South S82-2013
          GSM/УКВ база + ровер и контроллер South MasterPro Mobile S10* с ПО SurvCE

        .button
          Комплектация


%section
  .wrapper
    .title
      Варианты применения


    .variants.clearfix
      .variant.v1
        .content RTK-съемка

      .variant.v2
        .content.n2
          Постобработка
          %br
          статических измерений

      .variant.v3
        .content Подеревная съемка

      .variant.v4
        .content Cъемка дороги

      .variant.v5
        .content.n2
          Гидрографическая
          %br
          съемка

      .variant.v6
        .content.n2
          Вынос границ земельного
          %br
          участка в натуру

      .variant.v7
        .content.n2
          Инженерно-геодезические
          %br
          работы для строительства

      .variant.v8
        .content.n2
          Выполнение обмерных
          %br
          работ зданий и сооружений

      .variant.v9
        .content.n2
          Геодезические работы
          %br
          для земельного кадастра


.form-block
  .wrapper
    .offer
      Возьмите приемник на тест-драйв до 15 августа.
      %br
      14 дней - бесплатно. 100% гарантия возврата денег без лишних вопросов!

    .suboffer
      Оставьте ваше контактные данные в форме ниже,
      %br
      чтобы с вами связался наш менеджер и рассказал про условия тест-драйва

    %form.clearfix
      %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :name, placeholder: 'Введите ваш телефон'}
      %button Оставить заявку


%section
  .wrapper
    .title Технические характеристики


#footer
  .wrapper
    ООО «Геодетика»
    %br
    2013-2014
    %br
    все права защищены