#intro
  .wrapper
    .topbar.clearfix
      .logo
        Геодетика
      .phone
        (495) 800 40 40
        .small ежедневно с 9:00 до 21:00

    .content
      .descriptor
        GPS геодезический приемник
        %br
        South S82-2013

      %ul.bullets
        %li
          %img{src: '/images/icon-accuracy.png'}
          Точность определения координат
          %br
          до 2см с технологией RTK

        %li
          %img{src: '/images/icon-clock.png'}
          Скорость получения решения
          %br
          до 10 секунд

        %li
          %img{src: '/images/icon-distance.png', width: 22}
          Максимальная удаленность
          %br
            от базовой станции - 70км



.form-block
  .wrapper
    .offer
      Возьмите приемник на тест-драйв до 15 августа.
      %br
      14 дней - бесплатно. 100% гарантия возврата денег без лишних вопросов!

    .suboffer
      Оставьте ваше контактные данные в форме ниже,
      %br
      чтобы с вами связался наш менеджер и рассказал про условия тест-драйва

    .form-thank-you Спасибо за обращение! Наш менеджер свяжется с вами через 15 минут

    .form.clearfix{form_id: '1'}
      %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :name, placeholder: 'Введите ваш телефон'}
      %button.send-form Оставить заявку


%section
  .wrapper
    .title Преимущества работы с компанией Геодетика

    .triggers.clearfix
      .trigger
        %img{src: '/images/icon-percent.png', width: 84}
        Вы можете приобрести приемник
        по беззпроцентной рассрочке
        на срок до 6 месяцев
      .trigger
        %img{src: '/images/icon-antena.png', width: 71}
        Приобретая South S82-2013, вы
        получаете бесплатный доступ к сети
        базовых приемников, покрывающих
        всю Московскую область
      .trigger
        %img{src: '/images/icon-light.png', width: 67}
        Мы проводим бесплатные занятия
        по обучению работе с приемником



%section
  .wrapper
    .title Особенности модели South S82-2013

    .features.clearfix
      .feature
        .name Встроенный УКВ-модем 0.5В
        Встроенный приемо-передающий УКВ модуль и GSM/GPRS модем, обеспечивает уверенную работу системы на прием и передачу поправок без внешнего радиомодема

      .feature
        .name 220 канальная плата Trimble BD970
        Благодаря этому приемник поддерживает широкий спектр спутниковых сигналов: GPS NAVSTAR, включая L2C и L5, ГЛОНАСС, Galileo, COMPASS и различные SBAS

      .feature
        .name Встроенный GPRS / GSM модуль
        Работайте с сетями и отдельными базовыми станциями через GPRS или GSM (CSD) на расстояниях до 70 километров

      .feature
        .name Класс защиты IP67
        Исполнение по классу защиты IP67 обеспечивает сохранение работоспособности приемника даже при длительном погружении в воду приемника на глубину до 1 м и после падения с высоты 2 м на бетонный пол

      .feature
        .name 4Гб встроенной памяти
        Благодаря 4 Гб встроенной памяти и возможность использования съемной Micro-SD карты на 4 Гб  вы можете быть спокойны за сохранность запиcанной информации

      .feature
        .name Процессор ARM Cortex-M4
        Высокоэффективный процессор компании ARM, выполненный на архитектуре ARMv7-ME и предназначенный для оперативной цифровой обработки сигналов

%section.yellow
  .wrapper
    .title Важно знать!

    .content
      %p
        Приемники S82 абсолютно взаимозаменяемые, могут быть как Базой, так и Ровером, установлены на трегер или на веху, которые поставляются в комплекте.

      %p
        Благодаря наличию двух батарей, вы можете работать до 16 часов в статике, 12 часов в RTK GPRS, 8 часов в RTK УКВ.

      %p
        Также возможно подключение внешнего питания (9-15В)


%section
  .wrapper
    .title
      Комплекты и цены


    .complects.clearfix
      .complect
        .name Сетевой роутер
        .price 300 000₽
        .about
          Приемник South S82-2013 и
          контроллер South MasterPro
          Mobile S10* с ПО SurvCE

        .button.show-complectation-modal
          Комплектация


      .complect
        .name «База + Ровер GSM»
        .price 495 000₽
        .about
          Приемник South S82-2013 GSM база + ровер и контроллер South MasterPro Mobile S10* с ПО SurvCE

        .button.show-complectation-modal
          Комплектация

      .complect
        .name «База + Ровер GSM/УКВ»
        .price 575 000₽
        .about
          Приемник South S82-2013
          GSM/УКВ база + ровер и контроллер South MasterPro Mobile S10* с ПО SurvCE

        .button.show-complectation-modal
          Комплектация


%section
  .wrapper
    .title
      Варианты применения


    .variants.clearfix
      .variant.v1
        .content RTK-съемка

      .variant.v2
        .content.n2
          Постобработка
          %br
          статических измерений

      .variant.v3
        .content Подеревная съемка

      .variant.v4
        .content Cъемка дороги

      .variant.v5
        .content.n2
          Гидрографическая
          %br
          съемка

      .variant.v6
        .content.n2
          Вынос границ земельного
          %br
          участка в натуру

      .variant.v7
        .content.n2
          Инженерно-геодезические
          %br
          работы для строительства

      .variant.v8
        .content.n2
          Выполнение обмерных
          %br
          работ зданий и сооружений

      .variant.v9
        .content.n2
          Геодезические работы
          %br
          для земельного кадастра


.form-block
  .wrapper
    .offer
      Запишитесь на бесплатный обучающий семинар по
      %br
      GPS-приемникам и другой нашей продукции

    .suboffer
      Оставьте ваше контактные данные в форме ниже,
      %br
      чтобы с вами связался наш менеджер и рассказал про семинар

    .form-thank-you Спасибо за обращение! Наш менеджер свяжется с вами через 15 минут

    .form.clearfix{form_id: '2'}
      %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :name, placeholder: 'Введите ваш телефон'}
      %button.send-form Оставить заявку


%section
  .wrapper
    .title Технические характеристики

    .parameters-block.clearfix

      .left
        .parameters-section
          .parameters-title
            Общая информация:
          %ul.parameters-list
            %li
              Cистема выполнена на основе высокоэффективного ОЕМ GNSS модуля Trimble BD970, что обеспечивает поддержку 220-ти параллельных каналов слежения за навигационными спутниками всех существующих орбитальных группировок GNSS
            %li
              По умолчанию приемники системы обеспечивают прием сигналов GPS и ГЛОНАСС диапазонов частот L1 и L2

            %li
              OEM модуль на чипе Maxwell 6 (аналогично Trimble R8): уникальные характеристики точности фазовых измерений < 1 мм

            %li
              УКВ модем полностью совместим с радиомодемами Trimble, Pacific Crest и Satel


        .parameters-section
          .parameters-title
            Отслеживание спутниковых сигналов:

          %ul.parameters-list
            %li
              %strong GPS:
              Одновремнно L1 C/A, L2E, L2C, L5.
            %li
              %strong GLONASS:
              Одновремнно L1 C/A, L1 P, L2 C/A (Только GLONASS M),
              L2 P.
            %li
              %strong SBAS:
              Одновремнно L1 C/A, L5.
            %li
              %strong Galileo:
              (Зарезервировано)
              %br
              GIOVE-A: Одновремнно L1 BOC, E5A, E5B, E5AltBOC.
              %br
              GIOVE-B: Одновремнно L1 CBOC, E5A, E5B, E5AltBOC.
              %br
            %li
              %strong Compass:
              %br
              B1 (QPSK), B1-MBOC (6,1,1/11), B1-2 (QPSK)
              %br
              B2 (QPSK), B2-BOC (10, 5),
              %br
              B3 (QPSK), B3BOC (15, 2.5)
              %br
              L5 (QPSK)

        .parameters-section
          .parameters-title
            Точность определения координат (CKO):

          %ul.parameters-list
            %li
              кодовый DGPS режим (реальное время):
              план: ± 25м м + 1 ppm
              высота: ± 50м м + 1 ppm

            %li
              RTK съемка (реальное время, время инициализации < 10 c):
              план: ± 8 мм + 1 ppm
              высота: ± 15 мм + 1 ppm
            %li
              Статическая съемка с пост-обработкой
              план: ± 2.5 мм + 1 ppm
              высота: ± 5 мм + 1 ppm

            %li
              Время инициализации: обычно <15 с
            %li
              Надежность инициализации: обычно> 99,9%


        .parameters-section
          .parameters-title
            Физические характеристики:

          %ul.parameters-list
            %li Габариты:184мм х 184мм х 96мм
            %li Вес: 1.2 кг  с учетом батарей и внешней УКВ антенны
            %li Рабочий диапазон температур: -40℃ ~ +75℃
            %li Диапазон температур хранения: -55℃ ~ +85℃
            %li Влагозащищённость: защищён от временного погружения на глубину до 1 метра и 100% влажности.
            %li Высокий уровень защиты от влаги, пыли и ударов


        .parameters-section
          .parameters-title
            Электропитание:

          %ul.parameters-list
            %li Вход для внешнего питания 12-15В постоянного тока(DC) с перенапряжением
            %li Перезаряжаемая Li-Ion батарея (7,4 В, 2,5 А/ч) + запасная
            %li Встроенный GSM/GPRS модем (4 часа непрерывной работы от одной батареи)-
            %li Встроенный УКВ приемник (410-430 или 430-450 или 450-470 МГц, 4,8 часа работы от одной батареи)


      .right

        .parameters-section
          .parameters-title
            Контроллер:

          %ul.parameters-list
            %li
              PSION WorkaboutPro3

        .parameters-section
          .parameters-title
            Платформа:

          %ul.parameters-list
            %li Мощный процессор 624МГц,PXA270
            %li Память 1 Гб Flash ROM
            %li Память 256 Мб RAM


        .parameters-section
          .parameters-title
            Платформа:

          %ul.parameters-list
            %li Windows®CE 5 (стандартно)
            %li Windows Mobile 6 Classic, Professional ®(опционально)


        .parameters-section
          .parameters-title
            Беспроводная связь:

          %ul.parameters-list
            %li Bluetooth ® класс II, V 2.0 + EDR

        .parameters-section
          .parameters-title
            Внешние разъемы:

          %ul.parameters-list
            %li Гибкий кабель с разъемом для СОМ и USB
            %li Стыковочный разъем(LIF)
            %li DC Разъем питания


        .parameters-section
          .parameters-title
            Пользовательский интерфейс:

          %ul.parameters-list
            %li Цветной сенсорный экран
            %li VGA дисплей размером 480x640 пикселей
            %li Трансфлективный, TFT-портретный режим
            %li Подсветка экрана
            %li 165 кд/м2 выходной
            %li Буквенно-цифровая клавиатура

        .parameters-section
          .parameters-title
            Слоты расширения:

          %ul.parameters-list
            %li Слот для карты SD/MMC
            %li Интерфейс USB: поддерживает GPS-модуль расширения.
            %li 100-PIN интерфейс расширения: поддержка PCMCIA (тип II), GPRS/EDGE и других  сторонних модулей расширения разработаны с использованием комплекта оборудования Psion разработчика.
            %li Слот для карты Compact Flash

        .parameters-section
          .parameters-title
            Управление энергопотреблением:

          %ul.parameters-list
            %li Стандартная емкость аккумулятора 3,7 В, 2700 мАч (опционально)
            %li Встроенное зарядное устройство
            %li Перезаряжеемая барарея,пользователи могут заменить аккумулятор резервного питани





#footer
  .wrapper
    ООО «Геодетика»
    %br
    2013-2014
    %br
    все права защищены